.body {
  padding: 5px;
}

.player-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.player-cards:hover {
  position: relative;
  top: -5px;
}

.newPlayer {
  position: absolute;
  top: 0;
  right: 0;
}

.searchPlayer {
  width: 75%;
  margin: auto;
}

.playersList {
  position: relative;
}

.player-details {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.form {
  padding: 10px;
  margin: auto;
  width: 50%;
  text-align: center;
}
